/* 
    ---------COLOR USED ARE----------
    ---------Platinum #EBEBEB--------
    --Orange Yellow Crayola #FFD65C--
    -----------Jet #33333------------
*/

/* FOR INCLUDING PADDING AND MARGIN IN TOTAL HEIGHT & WIDTH */
* {
  box-sizing: border-box;
}

/* FOR RESPONSIVE WEBSITE */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* FOR PREVENTION OF UNNECESSARY FLOAT */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* FOR FLOATING ALL COLUMNS TO THE LEFT */
[class*="col-"] {
  float: left;
}

/* FOR APPLY FONT */
h1, h2, h3, h4, h5, h6, p, a {
    font-family: Arial, Helvetica, sans-serif;
}

/* FOR REMOVING DEFAULT MARGIN & PADDING */
body{
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
}
/*=========================

        PRELOADER

==========================*/
#preloader {
    background-color: #EBEBEB;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
#status{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}

/*================

   FOR NAV BAR

================*/
#header{
    background-color: rgba(51, 51, 51, 0.4);
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1px 10px #EBEBEB;
}
.menubtn{
    float: left;
    display: block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #EBEBEB;
    font-weight: 400;
    text-transform:capitalize;
    padding:25px 30px;
}
.menubtn:hover{
    background-color: #FFD65C;
    color: #333333;
    border-bottom: 2px solid #EBEBEB;
}
.menubtn:active{
    background-color: #FFD65C;
    color: #333333; 
    border-bottom: 2px solid #EBEBEB;
}
.logo{
    padding: 10px;
}
.logo:hover, .logo:active {
    background: none;
    border-bottom: none;
}
#white{
    display: block;
}
#black{
    display: none;
}
.topnav .icon {
    transform: scale(1.5);
    padding: 25px 20px 12px 15px;
    background-color: #EBEBEB;
    display:none;
}

/*=========================

     HOME SECTION STYLE

=========================*/
#home{
    margin-bottom: 100px;
    
}

/* FOR BACKGROUND VIDEO*/
#bg-video{
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background: url("../Media/video/video-thumbnail.jpg") no-repeat;
    background-size: cover;
}

/* FOR OVERLAY ON VIDEO*/
#bg-overlay{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* FOR HOME CONTENT */
#home-content {
    text-align: center;
    margin:auto;
    width: 50%;
    padding: 20% 0 12%;
}

/* FOR MOTTO */
#home-content h1{
    margin: 0;
    font-size: 60px;
    color: #FFD65C;
    font-weight:300;
    word-spacing: 5px;
    padding: 5% 0;
}

/* FOR BUTTON */
#home-btn{
    margin: 0;
    text-decoration: none;
    font-size: 17px ;
    color: #333333;
    padding: 1% 2.5%;
    background-color: #FFD65C;
    border: 1px solid #333333;
    border-radius: 25px;
}
#home-btn:hover,#home-btn:active{
    text-decoration: underline;
    border: 1px solid #EBEBEB;
}

/*===========================

      FOR FOOD SECTION 

===========================*/
#food {
    background-color: #fFD65C;
    padding:50px 0;
    
}

/* FOR TAB MENU */

#tab{
    background-color: #FFD65C;
    width: 100%;
    overflow: hidden;
}
.tab-btn {
    float: left;
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 30px 20px;
    text-transform: capitalize;
    color: #333333;
    transition: 0.3s;
}
.tab-btn:hover{
    background-color: #EBEBEB;
}

/* FOR DEFAULT TAB */

#default {
    display: block;
    margin-right: 100px;
    margin-left: 100px;
    height: 550px;
    overflow: auto;
}
#default .row .col-4 img{
    max-width: 100%;
    padding: 2px 5px;
}

/* FOR PIZZA TAB*/
#pizza {
    display:none;
    margin-right: 100px;
    margin-left: 100px;
    height: 550px;
    overflow: auto;
}
#pizza .row .col-4 img{
    max-width: 100%;
    padding: 2px 5px;
}

/* FOR BURGER TAB*/
#burger {
    display:none;
    margin-right: 100px;
    margin-left: 100px;
    height: 550px;
    overflow: auto;
}
#burger .row .col-4 img{
    max-width: 100%;
    padding: 2px 5px;
}

/* FOR CHIECKEN TAB*/
#chicken {
    display:none;
    margin-right: 100px;
    margin-left: 100px;
    height: 550px;
    overflow: auto;
}
#chicken .row .col-4 img{
    max-width: 100%;
    padding: 2px 5px;
}

/* FOR MEAL TAB*/
#meal {
    display:none;
    margin-right: 100px;
    margin-left: 100px;
    height: 550px;
    overflow: auto;
}
#meal .row .col-4 img{
    max-width: 100%;
    padding: 2px 5px;
}

/* FOR DRINK TAB*/
#drink {
    display:none;
    margin-right: 100px;
    margin-left: 100px;
    height: 550px;
    overflow: auto;
}
#drink .row .col-4 img{
    max-width: 100%;
    padding: 2px 5px;
}
.tabcontent {
    box-shadow: 1px 1px 6px grey;
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

/* FOR IMAGE DESCRIPTION */
.description{
    display:none;
    padding: 5%;
    background-color: #EBEBEB;
    text-align: center;
    font-size: 17px;
    color: #333333;
    overflow: hidden;
}
.description a{
    padding: 2%;
    color: #333333;
    background-color: #FFD65C;
    text-decoration: none;
}
.description a:hover{
    box-shadow: 1px 3px 15px #333333;
}
.img-container:hover img{
    opacity: 0.5;
    overflow: hidden;
}
.img-container:hover .description{
    display: block;
    overflow: hidden;
}

/*=========================

        ABOUT SECTION

==========================*/
#about{
    background-color: #EBEBEB;
    height: auto;
    padding: 80px 200px 20px;
}

/* For About Img Conatiner */
#about-img{
    max-width: 100%;
    max-height: 55%;
    box-shadow: 1px 1px 6px grey;
    background-color: #FFd65C;
    padding: 0 0 0 150px;
}

/* For About Image */
#about-img img{
    margin: 0;
    padding: 0;
    width: 75%;
}

/* For About Content */
#about-content {
    background-color: #FFFFFF;
    padding: 40px 70px;
    box-shadow: 1px 1px 4px grey;
}

/* For About Heading(big) */
#big-text{
    color: #FFD65C;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 100;
    border-left: 3px solid #333333;
    padding-left: 10px;
}

/* For About Heading(small) */
#small-text{
    color: #333333;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    border-left: 3px solid #FFD65C;
    padding-left: 10px;
}

/* For About Paragraph*/
#about-para{
    color: #333333;
    font-size: 17px;
    letter-spacing: 1px;
    word-spacing: 4px;
    padding-top: 10px;
}

/*=========================

        SERVICE SECTION

==========================*/
#service{
    background-color: #EBEBEB;
    height: auto;
    padding: 80px 200px 20px;
}

/* FOR SERVICE CONTAINER */
#service-container{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px grey; 
    padding-bottom: 10px;
}
/* For Service Container 1 */
#service-1{
    padding: 40px 70px 0 70px;
}
/* For Service Heading */
#big-service-text{
    color: #FFD65C;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 100;
    border-left: 3px solid #333333;
    padding-left: 10px;
}

/* For Service Heading(small) */
#small-service-text{
    color: #333333;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    border-left: 3px solid #FFD65C;
    padding-left: 10px;
}
/* For SERVICE TRANSPORT */
#service-transport:hover{
    background-color: rgba(255, 214, 92, 0.5);
    color: #000000;
    box-shadow: 1px 1px 5px grey;
}
/* For Service Transport Heading */
#service-transport h3{
    color: #333333;
    font-size: 30px;
    text-transform:uppercase;
    font-weight: 200;
    padding-left: 20px;
}

/* For Transports */
#service-transport ul{
    list-style-type:circle;
    color: #333333;
    font-size: 20px;
    text-transform:capitalize;
    padding-left: 60px;
}
#service-transport ul li{
    padding: 3px 0;
    letter-spacing: 1px;
}

/* FOR SERVICE CONTAINER 2*/
#service-2{
    padding: 40px 70px 0 70px;
}
/* For Radius*/
#radius:hover{
    background-color: rgba(255, 214, 92, 0.5);
    color: #000000;
    box-shadow: 1px 1px 5px grey;
}
/* For Radius Heading */
#radius h3{
    color: #333333;
    font-size: 30px;
    text-transform:uppercase;
    font-weight: 200;
    padding-left: 70px;
}

/* For Radius Area */
#radius ul{
    list-style-type:circle;
    color: #333333;
    font-size: 20px;
    text-transform:capitalize;
    padding-left: 100px;
}
#radius ul li{
    padding: 3px 0;
    letter-spacing: 1px;
}
/* For Delivery */
#delivery-time:hover{
    background-color: rgba(255, 214, 92, 0.5);
    color: #000000;
    box-shadow: 1px 1px 5px grey;
}
/* For Delivery Heading */
#delivery-time h3{
    color: #333333;
    font-size: 30px;
    text-transform:uppercase;
    font-weight: 200;
    padding-left: 25px;
}
#delivery-time h3 span{
    font-size: 20px;
    text-transform: lowercase;
}
/* For Delivery Time */
#delivery-time ul{
    list-style-type:none;
    color: #333333;
    font-size: 20px;
    text-transform:capitalize;
    padding-left: 50px;
}
#delivery-time ul li{
    padding: 3px 0;
    letter-spacing: 1px;
}

/*=========================

        CONTACT SECTION

==========================*/
#contact{
    background-color: #EBEBEB;
    padding: 120px 20px 40px;
}

/* For Contact Heading */
#contact div h1{
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 100;
}
#contact div h1 span{
    color: #FFD65C;
}
/* For Contact Element */
#contact div p{
    color: #333333;
    text-align: center;
    font-size: 20px;
}

/*=========================

        HELP SECTION

==========================*/
#help{
    background-color: #EBEBEB;
    padding: 120px 20px 40px;   
}

/* For Help Heading */
#help div h1{
    color: #FFD65C;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 100;
}

/* For Help Element */
#help div p{
    color: #333333;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/*=========================

        FOOTER

==========================*/
footer{
    background-color:#FFD65C;
    padding: 10px 20px 30px 20px;
    color: #333333;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
}

/* For Footer span Element */
footer span{
    text-transform: uppercase;
}

/* For Scroll Up Button */
footer a{
    float: right;
    font-size: 20px;
    border: 1px solid #333333;
    padding: 5px 10px;
    margin: 0;
    background-color: #EBEBEB;
}
footer a:hover{
    background-color: #FFd65C;
    box-shadow: 3px 1px 18px #333333;
    border:none;
}

/*====================================

        RESPONSIVE MEDIA QUERIES 

====================================*/
@media only screen and (max-width: 768px) {
  /* For TABLETS: */
  [class*="col-"] {
    width: 50%;
  } 
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/* FOR HEADER */
@media screen and (max-width: 500px) {
    .topnav a.menubtn {
        display: none;
    }
    .topnav a.logo{
        display: block;
    }

    .topnav a.icon {
        float: right;
        display:block;
    }
    .menubtn{
        font-size: 13px;
        padding: 10px 20px;
    }
}
@media screen and (max-width: 500px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* FOR HOME */
@media only screen and (max-width: 768px){
    #home{
        padding: 270px 0;
        margin-bottom: 0;
    }
}

/* FOR HOME-CONTENT */
@media only screen and (max-width: 768px) {
    #home-content{
        width: 100%;
    }
    #home-content h1 {
        font-size: 65px;
        margin-bottom: 60px;
    }
    #home-btn{
        font-size: 25px;
    }
}
@media only screen and (max-width: 500px){
    #home{
        padding: 200px 0;
    }
    #home-content h1 {
        font-size: 35px;
        margin-bottom: 30px;
    }
    #home-btn{
        font-size: 17px;
    }
}

/* FOR FOOD SECTION */
@media only screen and (max-width: 768px){
    #food{
        padding: 55px 0 5px;
        margin: 0;
    }
    #default, #pizza, #burger, #chicken, #meal, #drink{
        margin: 0 10px;
    }
}
@media only screen and (max-width: 500px){
    .tab-btn{
        font-size: 13px;
        padding: 15px 10px;
    }
}

/* FOR ABOUT SECTION */
@media only screen and (max-width: 768px){
    #about{
        padding: 55px 10px 10px;
    }
    #about-content{
        padding: 40px;
    }
}
@media only screen and (max-width: 500px){
    #about-img{
        padding-left: 50px;
    }
    #big-text{
        font-size: 50px;
    }
    #small-text{
        font-size: 25px;
    }
    #about-para{
        font-size: 15px;
    }
}

/* FOR SERVICE SECTION */
@media only screen and (max-width: 768px){
    #service{
        padding: 55px 10px 10px;
    }
}
@media only screen and (max-width: 500px){
    #big-service-text{
        font-size: 50px;
    }
    #small-service-text{
        font-size: 25px;
    }
    #service-transport{
        padding-left: 25px;
    }
    #service-transport h3{
        padding-left: 0;
        font-size: 22px;
    }
    #service-transport ul{
        padding-left: 25px;
        font-size: 15px;
    }
    #service-2 {
        padding: 40px 10px 0;
    }
    #radius{
        width: 50%;
    }
    #radius h3{
        text-align: center;
        padding-left: 0;
        text-transform: capitalize;
        font-size: 20px;
    }
    #radius ul{
        padding-top: 5px;
        padding-left: 25px;
        font-size: 13px;
    }
    #delivery-time{
        width: 50%;
    }
    #delivery-time h3{
        text-align: center;
        padding-left: 0;
        text-transform: capitalize;
        font-size: 20px;
        margin-bottom: 5px;
    }
    #delivery-time ul{
        margin-top: 5px;
        padding-left: 25px;
        font-size: 13px;
    }
}

/* FOR CONTACT SECTION */
@media only screen and (max-width: 500px){
    #contact{
        padding: 60px 10px;
    }
    #contact div h1{
        font-size: 30px;
    }
    #contact div p{
        font-size: 15px;
    }
}

/* FOR HELP SECTION */
@media only screen and (max-width: 500px){
    #help{
        padding: 60px 10px;
    }
    #help div h1{
        font-size: 30px;
    }
    #help div p{
        font-size: 15px;
    }
}

/* FOR FOOTER */
@media only screen and (max-width: 500px) {
    footer {
        padding: 10px 0;
        font-size: 10px;
    }
    footer a{
        font-size: 15px;
        position: relative;
        top:-10px;
        right: 0;
    }
}

